.staffer {
  display: flex;
  margin: $sp-4 0;

  .staffer-image {
    border-radius: 50%;
    height: 100px;
    margin-right: $sp-4;
    width: 100px;
  }

  .anchor-heading {
    right: auto;
    left: -$sp-5;
  }

  .staffer-name,
  .staffer-meta,
  p {
    margin: 0 0 $sp-1 0;
  }

  .staffer-name {
    @extend .d-inline-block;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-300, .bg-grey-lt-000;

    user-select: none;
  }

  .staffer-meta {
    dt, dd, dd + dt {
      margin-top: 0;
    }
  }

  @include mq(sm) {
    .staffer-meta {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}


.badge-domain {
  display: inline-block ;
  background-color: #0e5cc1;
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: 4px;
  // width: 45px;
}

.badge-seats {
  display: inline-block ;
  background-color: #339e67;
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: 4px;
  // width: 65px;
}

.badge-time {
  display: inline-block ;
  background-color: #FFCD00;
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: 4px;
  // width: 120px;
}

.badge-industry {
  display: inline-block ;
  background-color: #f31b18;
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: 4px;
  // width: 120px;
}